img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
body {
    background-color: black;
}
div {
    color: aliceblue;
    font-family: Franklin Gothic;
    font-size: xxx-large;
    text-align: center;
}